
text-stretch = condensed;
text-family = "Fira-sans", sans, sans-serif
text-variant = common ligatures tabular nums slashed-zero

text-font = text-stretch text-variant text-size text-family

heading-stretch = expanded
heading-family = text-family
heading-variant = small-caps tabular nums slashed-zero

heading-font = heading-stretch heading-variant heading-family
