
random(min, max)
  result = floor(math(0, 'random') * (max - min + 1) + min)
  return result

sum(vals...)
  sum = 0
  sum +=  x for x in vals
  return sum
dif(vals...)
  dif = 0
  dif -= x for x in vals
  return dif
prod(vals...)
  prod = 0
  prod *= x for x in vals 
  return product
