.message 
  line-height: 1.5
  font-size: 1.4em;
  font: text-font
  
.success
    @extends .message;
    color: green;

.warning
    @extends .message
    color: yellow;

.alert 
    @extends .message;
    border: 2px solid red;

.error 
    @extends .alert;
    color: red;
  
