html lang="en">
<head>
  <title>Home</title>
  <link href="../../static/style/layout.css">
</head>
<body>
  <header id="head">My Node App</header>
	<%- include('../partials/sidebar.ejs')%>
  <h1>Welcome!</h1>
  <main id="home" class="container">
    <button id="btn-test">Backend Test</button>
    <div id="display"></div>
  </main>
  <%- include('../imports.ejs') %>
	<%- include('../../views/scripts/serverTest.ejs') %>
</body>
</html>
