

@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin rect($width, $height) {
  width: $width;
  height: $height;
}
@mixin circle($size) {
  @include square($size);
  border-radius: 100%;
}
