<!DOCTYPE html>
<html lang="en">
  <%- include('./component/layout/head.ejs') %>
<body>
  <%- include('./component/layout/header.ejs') %>
  <h3 class="tools-heading"></h3>
  <ul id="tools" class="list">
    <li>Backend framework: Express</li>
    <li>Database: Sqlite3</li>
    <li>Logging: Pino</li>
    <li>Template Language: EJS</li>
  </ul>
</body>


