{% extends 'layout.html' %}
{% block body %}
      <main id="login" class="container">
        <form id="login-form" class="auth-form" method="POST">
          <input 
            id="username" 
            name="username" 
            type="text"
            class="form-control form-control-username" 
            placeholder="Enter your username...."
            required 
          />
          <input 
            id="password"
            name="password"
            type="password"
            class="form-control form-control-password"
            placeholder="Enter your password...."
            required
          />
        </form>
      </main
{% endblock %}
