<!DOCTYPE html>
<html lang="en">
  <%- include ('./component/layout/head') %>
<body>
  <%- include ('./component/layout/header') %>
  <main class="login">
    <%- include ('./component/forms/login') %>
  </main>

</body>


