<!DOCTYPE html>
<html lang="en">
  <%- include ('./component/layout/head.ejs') %>
<body> 
  <%- include ('./component/layout/header.ejs') %>
  <main class="register">
    <%- include ('./component/forms/register.ejs') %>   
  </main>
</body>
</html>
