@import('../lib/mixins/list.styl');

.list-base 
  list-style-type: none;
  overflow-x: hidden;
  
.menu 
  @extends .list-base;
  overflow-y: hidden;
  
.list 
  @extends .list-base;
  overflow-y: scroll;

.inline-list
  @extends .list
  inline-list()
  
.comma-list 
  @extends .list
  comma-list()
  
