.row
  display flex
  flex-direction row

.col 
  display flex 
  flex-direction column

.center 
  align-items center
  justify-items center 
  align-content center
  justify content center

.col-center 
  @extends .col 
  @extends .center 

.row-center 
  @extends .row 
  @extends .center
