<form class="register-form">
  <label class="form-label" for="firstname">
    Firstname: 
    <input 
      id="firstname" 
      name="firstname"
      class="form-control-text form-control-name"
      placeholder="Enter your first name"
      required
    />
  </label>
  <label class="form-label">
    Lastname: 
    <input
      id="lastname" 
      name="lastname"
      class="form-control-text form-control-name"
      type="text"
    /> 
  </label>                                                                                                                                                                                                                                                             
  <label class="form-label" for="username">
      Username:
      <input 
        id="username"
        name="username"
        class="form-control-text form-control-username"
        placeholder=""
      />
  </label>
  <label>
      Email: 
      <input 
        id="email"
        name="email"
        type="email"
        class="form-control-text form-control-email"
        placeholder="Enter email address..."
        required
    />
  <label class="form-label" for="pass">
      Password:
      <input 
        id="pass"
        name="pass"
        class="form-control-text form-control-pass"
        type="password"
        required
      />
  </label>
  <label class="form-label" for="pass2">
    Confirm Password:
    <input 
        id="pass2"
        name="pass2"
        class="form-control-text form-control-pass"
        type="password"
        required
      />
  </label>
  <label class="form-label" for="age">
      Age: 
      <input 
        id="age" 
        name="age" 
        class="form-control-number form-control-age"
        type="number" 
        required
    />
  <label />    
</form>

