<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="/">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  </ul>
</nav>
