<div class="scrolling-slider">
  <div class="slide-track">
    <div id="slide-1" class="slide">1</div>
    <div id="slide-2" class="slide">2</div>
    <div id="slide-3" class="slide">3</div>    
    <div id="slide-5" class="slide">4</div>
    <div id="slide-6" class="slide">5</div>
    <div id="slide-7" class="slide">6</div>
    <div id="slide-8" class="slide">7</div>
    <div id="slide-9" class="slide">8</div>
    <div id="slide-10" class="slide">9</div>
    <div id="slide-11" class="slide">10</div>
    <div id="slide-12" class="slide">11</div>
    <div id="slide-13" class="slide">12</div>
    <div id="slide-14" class="slide">13</div>
  </div>
</div>
