<script>
  let btn = document.querySelector('#btn-test')
	let display = document.querySelector('#display')
	function serverTest () {
    const resp = await fetch('http://localhost:4000/', {})
    const data = resp.json();
    display.innerHTML = `<p>${data}</p>`;
	}

</script>
